* {
    background-color: #CEC0E4;
}
:root {
    --borderBottom: 3px purple solid;
}

header {
    font-size: 4em;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--borderBottom);
}

nav {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline;
}

button  {
    font-size: .35em;
}

#Summary {
    position: relative;
}

p {
    position: absolute;
    left: 36em;
    top: 1em;
}

#pSummary {
    position: absolute;
}

div {
    position: relative;
    overflow: auto;
    border-bottom: var(--borderBottom);
}

h2 {
    position: absolute;
    left: 12em;
    top: 3em;
}

h3 {
    position: absolute;
    left: 13em;
    top: 2em;
}

#contact-me {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 50px;
    width: 15%
}

img {
    width: 200px;
    height: 190px;
}

@media screen and (max-width: 992px) {
    ul {
        position: static;
    }
}

@media screen and (max-width: 768px) {
    p {
        display: none;
    }
}

/* .flex-container {
    display: flex;
} */

