* {
    background-color: #eeeaf3;
}

:root {
    --border: 3px purple solid;
    --background: #CEC0E4;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--background);
    border-bottom: var(--border);
}

#name {
    font-size: 50px;
    margin: 0;
    padding: 0;
    border: none;
}

nav {
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

ul {
    padding: 0;
    background-color: var(--background);
}

li {
    list-style-type: none;
    display: inline;
}

button  {
    font-size: 1.5em;
    border: purple 1px dotted;
    background-color: var(--background);
}

button:hover {
    font-weight: bold;
}

h1 {
    background-color: var(--background);
    border-bottom: var(--border);
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

h2 {
    float: left;
}

h3 {
    position: absolute;
}

/* p {
    position: absolute;
    left: 0;
    top: 0;
} */

#contact-me {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 50px;
    border: purple 1px dotted;
}

img {
    width: 200px;
    height: 190px;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    
}


